# OS
.DS_Store
Thumbs.db

# Node / Python
node_modules/
__pycache__/
*.pyc
.venv/

# Docker
.env

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Secrets
*.key
*.pem
*.token
gh-*/

# GitHub runner artifacts
.runner
.runner.spec
bin/
build/
dist/
externals/

# Allow specific script inside bin
!bin/checkScripts/
!bin/checkScripts/runDownloadCert.js

# runner scripts
run-helper.cmd
run-helper.cmd.template
run-helper.sh.template
run.cmd
config.cmd

# python
venv/
__pycache__/
*.pyc